.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  max-width: 90%;
  margin: 0 auto;
}

.header h2 {
  color: #5caeab;
}

.header > a {
  font-style: italic;
}

.container {
  width: 1300px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.container > form {
  width: 400px;
  border: 1px solid red;
  max-width: 90%;
  border: 1px solid rgba(0,0,0,.2);
  padding: 1rem;
}

.form_group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form_group > label {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form_group > input {
  padding: 0.5rem 0.2rem;
  color: #333;
  border: 1px solid rgba(0,0,0,.2)
}

.form_group > input:focus {
  outline: none;
}

.container > form > button {
  padding: 0.5rem 1rem;
  width: 100%;
  border: 1px solid #5caeab;
  background: #fff;
  font-weight: 700;
  color: #5caeab;
  cursor: pointer;
}

.container > form + p {
  margin: 1rem 0;
  color: #ff0000;
  font-size: 0.8rem;
  font-style: italic;
}

.studio {
  width: 1300px;
  max-width: 90%;
  margin: 0 auto;
  color: #333;
}

.studio > h2,
.studio > p {
  text-align: center;
}

.studio_images{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}

.studio_images > div {
  width: 10rem;
  height: 10rem;
  border: 2px dashed #5caeab;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.studio_images > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.generate {
  display: flex;
  justify-content: center;
}

.generate > button {
  padding: 0.7rem 2rem;
  background: #5caeab;
  color: #fff;
  border: none;
  font-weight: 700;
  border-radius: 2px;
  margin-right: 0.5rem;
}

.generate > button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.studio > .output {
  width: 15rem;
  height: 15rem;
  border: 1px solid rgba(0,0,0,.2);
  margin: 2.5rem auto 1.5rem auto;
}

.studio > .output > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.studio > .output + input,
.studio > .output + input + button {
  display: block;
  margin: 1rem auto;
}

.studio > .output + input {
  padding: 0.5rem 0.2rem;
  border: 1px solid rgba(0,0,0,.2);
}

.studio > .output + input:focus {
  outline: none;
}

.studio > .output + input + button {
  padding: 0.7rem 2rem;
  background: #fff;
  color: #5caeab;
  border: 1px solid #5caeab;
  font-weight: 700;
  border-radius: 2px; 
  cursor: pointer;
}

.studio > .output + input + button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.status {
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}

.artworks_header {
  text-align: center;
  color: #333;
}

.artworks {
  display: flex;
  gap: 2rem;
  width: 1300px;
  max-width: 90%;
  margin: 2.5rem auto;
  color: #333;
  flex-wrap: wrap;
  justify-content: center;
}

.artworks > div > div {
  width: 10rem;
  height: 10rem;
}

.artworks > div > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artworks > div > h5 {
  text-align: center;
  margin: 1rem 0;
}

.artworks > div > button {
  color: #5caeab;
  font-size: 0.8rem;
  display: block;
  background: none;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

.artworks > p > a {
  font-weight: 700;
  color: #5caeab;
}